.checkout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: rgb(33, 33, 33);
  font-size: 24px;
  font-weight: 570;
  font-family: Roboto, Arial;
  margin-bottom: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.checkout-body {
  padding: 0 100px;
  margin: 0px;
  width: 1200px;
  font-family: Roboto, Arial;
}
.checkout-body-left-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
  margin-top: 0px;
  min-width: 80%;
}

.checkout-body-left-button {
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border-radius: 5px;
  padding: 8px;
  height: 33px;
  border: none;
  font-size: medium;
  box-shadow: rgba(213, 217, 217, 0.5) 0px 2px 5px;
  cursor: pointer;
}
.checkout-body-left-button:hover {
  background-color: rgb(230, 195, 0);
}
.checkout-body-left-content {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  font-size: large;
}
.checkout-body > div {
  padding: 0 30px;
}

.checkout-body-bottom {
  padding: 0 30px;
}
.items {
  color: rgb(0, 113, 133);
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
}
.js-payment-info {
  border-radius: 5px;
  border: 1px solid rgb(222, 222, 222);

  padding: 19px;
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 447px;
  height: 279px;
  margin-left: auto;
}

.payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.payment-summary-row {
  margin-bottom: 10px;
  display: flex;
}
.payment-summary-money {
  margin-left: auto;
}

.tax {
  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 9px;
}
#tax {
  padding-top: 9px;
}
.total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 18px;
  border-top: 1px solid rgb(222, 222, 222);
}
.total-row div {
  padding-top: 18px;
}
.order-button {
  display: flex;
  justify-content: center;
}
.place-order {
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border-radius: 10px;
  padding: 9px 0;
  height: 40px;
  border: none;
  font-size: medium;
  box-shadow: rgba(213, 217, 217, 0.5) 0px 2px 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
.no-items {
  opacity: 0.4;
}
main {
  display: flex;
  justify-content: center;
}
.empty-cart {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: start;
  gap: 10px;
}
